@using _2017_05_24ULSAVentas.Models
@model List<Publicacion>

@{
    Layout = "~/Views/Cuenta/_LayoutCuenta.cshtml";
    ViewBag.Title = "Publicaciones";
    ViewBag.cuentaPaginaActiva = "publicaciones";

    bool? publicacionesPublicacionEliminada = (bool?)TempData["publicacionesPublicacionEliminada"];
    bool? publicacionesPublicacionActualizada = (bool?)TempData["publicacionesPublicacionActualizada"];
    bool? publicacionesPublicacionCorrecta = (bool?)TempData["publicacionesPublicacionCorrecta"];
}
<small><strong>@(Model != null ? Model.Count.ToString() : "0")</strong> publicaciones</small>
<hr />

@if (publicacionesPublicacionEliminada == true)
{
    <div class="alert alert-warning">
        Publicación eliminada con éxito.
    </div>
}
else if (publicacionesPublicacionEliminada == false)
{
    <div class="alert alert-danger">
        No se eliminó la publicación.
    </div>
}

@if (publicacionesPublicacionActualizada == true)
{
    <div class="alert alert-success">
        Publicación actualizada con éxito.
    </div>
}
else if (publicacionesPublicacionActualizada == false)
{
    <div class="alert alert-danger">
        No se actualizó la publicación.
    </div>
}

@if (publicacionesPublicacionCorrecta == true)
{
    <div class="alert alert-success">
        Se publicó el artículo con éxito.
    </div>
}
else if (publicacionesPublicacionCorrecta == false)
{
    <div class="alert alert-danger">
        No se publicó el artículo.
    </div>
}

@if (Model != null && Model.Count > 0)
{
    foreach (Publicacion p in Model)
    {
        <div class="modal fade" id="modalEliminarPublicacion@(p.idPublicacion)" role="dialog">

            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar publicación</h4>
                    </div>

                    <div class="modal-body">

                        <div class="alert alert-warning">¿Está seguro que quiere eliminar la publicación "@p.titulo"?</div>

                        <div class="btn-group btn-group-justified">
                            <a class="btn btn-danger" href="@Url.Action("Eliminar", "Publicaciones", new { idPublicacion = p.idPublicacion })">Sí</a>
                            <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                @Html.Partial("~/Views/Publicacion/Imagen.cshtml", p)
            </div>
            <div class="col-md-6">
                @Html.Partial("~/Views/Publicacion/Descripcion.cshtml", p, new ViewDataDictionary { { "longitudCadena", 200 } })
            </div>
            
            <div class="col-md-3">
                <h4 class="page-header">Acciones</h4>

                <div class="btn-group-vertical btn-block">
                    <a class="btn btn-default" href="@Url.Action("ModificarPublicacion", "Publicaciones", new { idPublicacion = p.idPublicacion })"><span class="glyphicon glyphicon-pencil"></span> Modificar</a>
                    <a class="btn btn-default" data-toggle="modal" href="#modalEliminarPublicacion@(p.idPublicacion)"><div class="text-danger"><span class="glyphicon glyphicon-remove"></span> Eliminar</div></a>
                </div>
            </div>
        </div>
        <hr />
    }
}
else
{
    <div class="alert alert-info">
        Parece que aún no publicas ningún artículo. Comienza haciendo clic en el signo <span class="glyphicon glyphicon-plus"></span> de la barra de navegación.
    </div>
}

@{
    TempData["publicacionesPublicacionEliminada"] = null;
    TempData["publicacionesPublicacionActualizada"] = null;
}