@using _2017_05_24ULSAVentas.Models

@model Publicacion

@{
    ViewBag.Title = Model.titulo;
    Session["idPublicacion"] = Model.idPublicacion;

    bool? comentarioComentarioAgregado = (bool?)TempData["comentarioComentarioAgregado"];
    bool? favoritoFavoritoAgregado = (bool?)TempData["favoritoFavoritoAgregado"];

    Direccion d = (Direccion)TempData["publicacionesDireccion"];
}

@if (d != null)
{
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBosm5YSmCWuTxoAYG2GGSFF3yLamdXNJE"></script>
    <div class="modal fade" id="modalSucursal" role="dialog">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Mapa de sucursal</h4>
                </div>

                <div class="modal-body" id="divAgregarDireccion">
                    @Html.Action("MapaParcial", "Pruebas", new { lat = d.latitud, lng = d.longitud })
                </div>

            </div>

        </div>
    </div>

    <script>
        var iniciado = false;

        $("#modalSucursal").on('shown.bs.modal', function () {
            if (!iniciado) {
                initMap();
                iniciado = true;
            }
        });
    </script>
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">


        <h2 class="page-header"><strong>@Model.titulo</strong> <small class="pull-right">por <strong>@Model.Usuario.usuario1</strong></small></h2>

        @if (comentarioComentarioAgregado == true)
        {
            <div class="alert alert-success">
                ¡Comentaste con éxito!
            </div>
        }
        else if (comentarioComentarioAgregado == false)
        {
            <div class="alert alert-danger">
                No pudimos agregar tu comentario.
            </div>
        }

        @if (favoritoFavoritoAgregado == true)
        {
            <div class="alert alert-success">
                Publicación agregada a favoritos.
            </div>
        }
        else if (favoritoFavoritoAgregado == false)
        {
            <div class="alert alert-danger">
                No pudimos agregar la publicación a favoritos.
            </div>
        }

        <div class="row">

            <div class="col-md-4 text-center">
                <img src="@Model.direccionImagen" class="img-thumbnail img-responsive" />
            </div>

            <div class="col-md-4">
                <h4><span class="text-primary">Descripción</span></h4>
                <hr />
                <p class="text-justify">
                    @Model.descripcion
                </p>
            </div>

            <div class="col-md-4 text-center">
                <h2 class="text-danger">
                    <strong>$ @string.Format("{0:n}", Model.precio)</strong>
                    <br />
                    <small><span class="label @(Model.cantidad > 6 ? "label-primary" : Model.cantidad > 3 ? "label-success" : Model.cantidad == 0 ? "label-danger" : "label-warning")">@Model.cantidad unidad(es) disponibles</span></small>
                </h2>

                <br />

                <p class="text-muted">
                    <span class="glyphicon glyphicon-map-marker"></span>&nbsp;
                    @if (d != null)
                    {
                        @:Sucursal en
                        @d.estado
                        @:(<a data-toggle="modal" href="#modalSucursal">Ver mapa</a>)
                    }
                    else
                    {
                        @:El vendedor no ha registrado sucursales
                    }
                </p>

                <br />

                <a class="btn btn-lg btn-block @(Model.cantidad > 0 ? "btn-success" : "btn-warning disabled")" href="@Url.Action("Index", "Compra", new { idPublicacion = Model.idPublicacion })">
                    @(Model.cantidad > 0 ? "Comprar" : "Producto agotado")
                </a>
                <a class="btn btn-danger btn-sm btn-block" href="@Url.Action("AgregarFavorito", "Favorito", new { idPublicacion = Model.idPublicacion })">
                    <span class="glyphicon glyphicon-heart"></span> Agregar a favoritos
                </a>
            </div>

            <div class="col-md-12">
                @Html.Action("VerComentarios", "Comentario", new { idPublicacion = Model.idPublicacion })
            </div>

        </div>


    </div>
</div>