@using _2017_05_24ULSAVentas.Models
@model List<Direccion>

@{ 
    bool? direcccionDireccionEliminada = (bool?)TempData["direcccionDireccionEliminada"];
}

@if (direcccionDireccionEliminada == true)
{
    <div class="alert alert-warning">
        Dirección eliminada con éxito.
    </div>
}
else if (direcccionDireccionEliminada == false)
{
    <div class="alert alert-danger">
        La dirección no se eliminó.
    </div>
}

<p>
    <a data-toggle="modal" data-target="#modalAgregarDireccion"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
</p>

<div class="modal fade" id="modalAgregarDireccion" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Agregar direccion</h4>
            </div>

            <div class="modal-body">
                @Html.Action("AgregarDireccion", "Direccion")
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="@("window.location.href='" + @Url.Action("Informacion", "Cuenta") + "'");">Cerrar</button>
            </div>

        </div>

    </div>
</div>

@if (Model.Count > 0)
{
    <table class="table table-hover">
        <tr>
            <th>
                Direccion
            </th>
            <th>
                Acciones
            </th>
        </tr>
        @foreach (Direccion d in Model)
        {
            <tr>
                <td>
                    @d
                </td>
                <td>
                    <a href="#"  data-toggle="modal" data-target="#modalEliminarDireccion@(d.idDireccion)">Eliminar</a> | <a href="#">Modificar</a>
                </td>
            </tr>

            <div class="modal fade" id="modalEliminarDireccion@(d.idDireccion)" role="dialog">

                <div class="modal-dialog">

                    <div class="modal-content">

                        <div class="modal-header">
                            <h4 class="modal-title">Eliminar direccion</h4>
                        </div>

                        <div class="modal-body">
                            <div class="alert alert-warning">Está seguro que quiere eliminar la dirección "@d"</div>
                            <div class="btn-group btn-group-justified">
                                <a href="@Url.Action("EliminarDireccion", "Direccion", new { idDireccion = d.idDireccion })" class="btn btn-danger">Sí</a>
                                <a class="btn btn-default" data-dismiss="modal">Cancelar</a>
                            </div>
                        </div>

                        

                    </div>

                </div>
            </div>
        }
    </table>
}
else
{
    <div class="alert alert-info">Sin direcciones</div>
}

@{
    TempData["direcccionDireccionEliminada"] = null;
}