@using _2017_05_24ULSAVentas.Models
@model List<Direccion>

@{
    ViewBag.Title = "Direcciones";
    int i = 0;
}

<div class="row">
    <div class="col-xs-6">
        <h2 class="page-header">Direcciones</h2>
        @if (Model.Count > 0)
        {
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Dirección
                    </th>
                    <th>
                        Acciones
                    </th>
                </tr>
                @foreach (Direccion d in Model)
                {
                    <tr>
                        <td>
                            @d.calle @d.numeroExterior, @d.colonia, @d.estado @{i++;} @i
                        </td>
                        <td>
                            @Ajax.ActionLink("Mostrar mapa", "MapaParcial", "Pruebas", new { lat = d.latitud, lng = d.longitud }, new AjaxOptions { HttpMethod = "GET", InsertionMode = InsertionMode.Replace, UpdateTargetId = "divMapa" })
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <p class="text-warning">No se encontraron direcciones en la base de datos.</p>
        }
    </div>

    <div class="col-xs-6">
        <h2 class="page-header">Mapa</h2>

        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBosm5YSmCWuTxoAYG2GGSFF3yLamdXNJE"></script>

        <div id="divMapa"></div>
    </div>
</div>